# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyCharm
.idea
.DS_Store

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

*.cache/

# wheel files
build
dist
Flask_UrlDiscovery.egg-info
.eggs

